{% extends "base.html" %}
{% block content %}

<head>
        <link rel="stylesheet" href="{{ url_for('static', filename='assets/css/Login-Form-with-Photo.css') }}">
</head>

 <div class="register-photo">
        <div class="form-container">
            <div class="image-holder"></div>
            <form method="post" >
                {{ form.hidden_tag() }}
                <h2 class="text-center">Ndrysho Fjalkalimin</h2>




                <div class="form-group">
                 {% if form.email.errors %}
                        {{ form.email(class="form-control is-invalid", placeholder="Vendos emailin tuaj") }}
                        <div class="invalid-feedback">
                            {% for error in form.email.errors %}
                                <span>{{ error }}</span>
                            {% endfor %}
                        </div>
                    {% else %}
                         {{ form.email(class="form-control", placeholder="Vendos emailin tuaj") }}
                    {% endif %} </div> 



                
                <div class="form-group">{{ form.submit(class="btn btn-primary btn-block") }}</div></form>
        </div>
    </div>
{% endblock %}