{% extends "base.html" %}
{% block content %}

<div class="container">
	<div class="row">
		<div class="col-md-8">
<h1>Rreth Nesh</h1>
<p>Rreth Nesh
Ky web aplikacion eshte krijuar per qellim edukimi. Eshte nje website i krijuar me teknologjite Html, Css dhe Python. Funksionet e websites jane: mund te krijosh llogari dhe te aksesosh llogarine tende, mund te krijosh, te perditsosh dhe te fshishe postime; mund te modifikosh inforacionet dhe imazhin e profilit tuaj etj. Design and Developed by: Redian Marku.</p>
</div>
<div class="col-md-4">
	 <!-- Search Widget -->
        <div class="card my-4">
          <h5 class="card-header">Kerko</h5>
          <div class="card-body">
            <div class="input-group">
              <input type="text" class="form-control" placeholder="Kerko per...">
              <span class="input-group-btn">
                <button class="btn btn-secondary" type="button">Shko!</button>
              </span>
            </div>
          </div>
        </div>

        <!-- Categories Widget -->
        <div class="card my-4">
          <h5 class="card-header">Kategorite</h5>
          <div class="card-body">
            <div class="row">
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">Web Design</a>
                  </li>
                  <li>
                    <a href="#">HTML</a>
                  </li>
                  <li>
                    <a href="#">Freebies</a>
                  </li>
                </ul>
              </div>
              <div class="col-lg-6">
                <ul class="list-unstyled mb-0">
                  <li>
                    <a href="#">JavaScript</a>
                  </li>
                  <li>
                    <a href="#">CSS</a>
                  </li>
                  <li>
                    <a href="#">Tutorials</a>
                  </li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <!-- Side Widget -->
        <div class="card my-4">
          <h5 class="card-header">Info</h5>
          <div class="card-body">
            Ky web aplikacion eshte krijuar per qellim edukimi. Eshte nje website i krijuar me teknologjite Html, Css dhe Python. Funksionet e websites jane: mund te krijosh llogari dhe te aksesosh llogarine tende, mund te krijosh, te perditsosh dhe te fshishe postime; mund te modifikosh inforacionet dhe imazhin e profilit tuaj etj. Design and Developed by: Redian Marku.
          </div>
      </div>
  </div>
</div>
</div>


{% endblock %}